{% extends 'base.html' %}

{% block body %}
  {% load static %}

  <main id="main">
    <div class="text-center container my-5">
      <div style="overflow-x: auto;">
        <br />
        <br />
        <table style="  border: 1px solid black;">
          <tbody>
            <tr style="  border: 1px solid black; background-color: black; color:white;">
              <td style="  border: 1px solid black;">S. No.</td>
              <td style="  border: 1px solid black;">Skill Sector</td>
              <td style="  border: 1px solid black;">Programme</td>
              <td style="  border: 1px solid black;">Specialization</td>
              <td style="  border: 1px solid black;">Eligibility</td>
              <td style="  border: 1px solid black;" style="  border: 1px solid black;">Duration</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;" style="  border: 1px solid black;">1</td>
              <td style="  border: 1px solid black;">Management &amp; Commerce</td>
              <td style="  border: 1px solid black;">MBA</td>
              <td style="  border: 1px solid black;">Marketing, HR, IT, Finance, International Business</td>
              <td style="  border: 1px solid black;">Graduate with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">MBA</td>
              <td style="  border: 1px solid black;">Digital Marketing</td>
              <td style="  border: 1px solid black;">Graduate with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Retail, Logistics, Sales &amp; Marketing, Banking &amp; Finance, Project &amp; Office Management</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Retail Management</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Logistic Operations</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Business Process Managemant</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">2</td>
              <td style="  border: 1px solid black;">Information &amp; Technology</td>
              <td style="  border: 1px solid black;">BCA</td>
              <td style="  border: 1px solid black;">Computer</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">B.Sc</td>
              <td style="  border: 1px solid black;">IT, CS, Data Analytics, Cyber Security, Cloud Computing, Gaming</td>
              <td style="  border: 1px solid black;">12TH with MATHEMATICS WITH 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">3</td>
              <td style="  border: 1px solid black;">Science</td>
              <td style="  border: 1px solid black;">B.Sc</td>
              <td style="  border: 1px solid black;">Biotechnology / Chemistry (Pharmaceutical)</td>
              <td style="  border: 1px solid black;">12TH with BIOLOGY WITH 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">4</td>
              <td style="  border: 1px solid black;">School of Humanities &amp; Applied Arts</td>
              <td style="  border: 1px solid black;">B.A</td>
              <td style="  border: 1px solid black;">English , Spanish, Digital Media &amp; Design, Aesthetics &amp; Beauty Therapy</td>
              <td style="  border: 1px solid black;">12TH with 45% or 40% (GEN AND OBC 45%, ST/SC 40%)</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">5</td>
              <td style="  border: 1px solid black;">Education</td>
              <td style="  border: 1px solid black;">B.Ed</td>
              <td style="  border: 1px solid black;">Education</td>
              <td style="  border: 1px solid black;">AS PER NCTE REGULATION</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">6</td>
              <td style="  border: 1px solid black;">Healthcare</td>
              <td style="  border: 1px solid black;">Diploma</td>
              <td style="  border: 1px solid black;">Medical Lab Technology</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Hospital Administration</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Healthcare Management</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Diploma</td>
              <td style="  border: 1px solid black;">Emergency Medical Technology</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Diploma</td>
              <td style="  border: 1px solid black;">Radiology &amp; Medical Imaging Technology</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">B.Sc</td>
              <td style="  border: 1px solid black;">Medical Lab Technology</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">B.Sc</td>
              <td style="  border: 1px solid black;">Radiology &amp; Medical Imaging Technology</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">B.Sc</td>
              <td style="  border: 1px solid black;">Optometry</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">4 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Diploma</td>
              <td style="  border: 1px solid black;">Pharmacy</td>
              <td style="  border: 1px solid black;">12TH WITH BIOLOGY</td>
              <td style="  border: 1px solid black;">2 Year</td>
            </tr>
            <tr style="background-color: #3951da; border: 1px solid black;color:white;">
              <td style="  border: 1px solid black;">7</td>
              <td style="  border: 1px solid black;">Hospitality &amp; Culinary Arts</td>
              <td style="  border: 1px solid black;">Diploma</td>
              <td style="  border: 1px solid black;">Culinary Arts</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">1 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Bachelors</td>
              <td style="  border: 1px solid black;">Hospitality and Tourism Management</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Bachelors</td>
              <td style="  border: 1px solid black;">Hotel Management &amp; Culinary Arts</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">Bachelors</td>
              <td style="  border: 1px solid black;">Catering Technology &amp; Culinary Arts</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
            <tr style="  border: 1px solid black;">
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;"></td>
              <td style="  border: 1px solid black;">BBA</td>
              <td style="  border: 1px solid black;">Hospitality Management (Restaurant Operations / Facility Management)</td>
              <td style="  border: 1px solid black;">12th</td>
              <td style="  border: 1px solid black;">3 Year</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="{% static 'assets/files/brochure.pdf' %}" download="brochure"><button type="button" class="btn btn-outline-primary my-2">Click Here to download brochure</button></a>
      <a href="{% static 'assets/files/SSUFeeStructure.pdf' %}" download="SSU_Fee"><button type="button" class="btn btn-outline-primary my-2">Click Here to download SSU Fee Structure</button></a>
      <a href="{% static 'assets/files/authorizationLetter.pdf' %}" download="authorizationLetter"><button type="button" class="btn btn-outline-primary my-2">Sikkim Authorization letter</button></a>
    </div>
  </main>
{% endblock %}
